<h1 class="fail">Nothing here</h1>

<%= form_for @offering do |f| %>
  <%= redirect_token @redirect_url %>
  <%= f.hidden_field :importing_done, value: true %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
