<p>The search bar allows you to search for offerings using predefined search terms and values.</p>
<ul>
  <li>The search bar will auto-complete search terms when you start typing.</li>
  <li>Select a search term and you will be provided with a list of associated values.</li>
  <li>Choose a value to initiate a search.</li>
  <li>Search terms/values can be chained together. For example you can search for a term and an instructor.</li>
  <li>Deleting a search term will initiate a search using the remaining search terms if any are found or a search for all offerings if not.</li>
  <li>An empty search (no search terms are present) will return a list of all offerings.</li>
</ul>
