<div id="offering-summary">
  <% if offering.is_complete? :details %>
    <%= render partial: 'offerings/details/summary', locals: {offering: offering} %>
  <% end %>
  <% if offering.is_complete? :objectives %>
    <%= render partial: 'offerings/objectives/summary', locals: {offering: offering} %>
  <% end %>
  <% if offering.is_complete? :content %>
    <%= render partial: 'offerings/content/summary', locals: {offering: offering} %>
  <% end %>
</div>
