<div class="row">
  <div class="span12">
    <h2><%= @academic_term %> Offerings</h2>
    <%= render "offerings_table" %>
    <% if can? :new, Offering %>
      <%= link_to "New Offering", [:new, @term, :offering], class: 'btn' %>
    <% end %>
  </div>
</div>
