<div class="row">
  <div class="span12">
    <h2>Offerings Search</h2>
    <div id="offerings" data-baseurl='/offerings' data-results-selector='#offering-index'></div>
    <%= render "offerings_table" %>
  </div>
</div>
