<!-- Offering-Summary-Show -->

<div class="row">
  <div id="offering-summary" class="span8 offset1">
    <% if @offering.is_complete? :details %>
      <%= render 'offerings/details/summary' %>
    <% end %>
    <% if @offering.is_complete? :objectives %>
      <%= render 'offerings/objectives/summary' %>
    <% end %>
    <% if @offering.is_complete? :content %>
      <%= render 'offerings/content/summary' %>
    <% end %>
  </div>

  <!--Sidebar-->
  <div class="span2">
    <div class="float-right">
    <dl>
      <dt>Export</dt>
        <dd><a href="#">CSV</a></dd>
        <dd><a href="#">HTML</a></dd>
        <dd><a href="<%=export_offering_path(:format => "pdf")%>">PDF</a></dd>
      <dt>Other</dt>
        <dd><a href="#">Do Something</a></dd>
        <dd><a href="#">Other</a></dd>
    </dl>
    </div>
  </div>

</div>
