<!-- Offering-Summary-Show -->

<div class="row">
  <div id="offering-summary" class="span8 offset1">
    <%= render partial: 'summary', locals: {offering: @offering} %>
    &nbsp;<br>
  </div>

  <!--Sidebar-->
  <div class="span2">
    <div class="float-right">
    <dl>
      <dt>Export</dt>
        <dd><a href="#">CSV</a></dd>
        <dd><a href="#">HTML</a></dd>
        <dd><a href="<%=export_offering_path(:format => "pdf")%>">PDF</a></dd>
      <dt>Other</dt>
        <dd><a href="#">Do Something</a></dd>
        <dd><a href="#">Other</a></dd>
    </dl>
    </div>
  </div>

</div>
