<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @academic_term.title %>
</p>


<%= link_to_if can?(:edit, @academic_term), 'Edit', edit_academic_term_path(@academic_term) %> |
<%= link_to 'Back', academic_terms_path %>
