   <%for instructor in @offering.instructors%>
    <tr title=<%=instructor.name%>>
     <td class="instructor"><%=instructor.name%></td>
     <td class="course"><%=@offering.course %></td>
     <td class="stages">
     </td>
    
    </tr>
   <%end%>	
