// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#instructor-dash {
  .stages .btn {
    width: 120px;
    height: 30px;
    font-size: 12pt;
    letter-spacing: 1px;
    color: white;
    line-height: 28px;
  }
}

#staff2-dash {
  td, th {
    &.instructor {
      width: 150px;
    }
    &.stages {
      width: 340px;
    }
  }
}

.dashboard.staff{
  table.hide_completed tr.completed {
    display: none;
  }
}


.dashboard {
  .stages {

    &.btn-group {
      $border-radius: 8px;
      .btn:first-child {
        -webkit-border-top-left-radius: $border-radius;
        -moz-border-radius-topleft: $border-radius;
        border-top-left-radius: $border-radius;
        -webkit-border-bottom-left-radius: $border-radius;
        -moz-border-radius-bottomleft: $border-radius;
        border-bottom-left-radius: $border-radius
      }
      .btn:last-child {
        -webkit-border-top-right-radius: $border-radius;
        -moz-border-radius-topright: $border-radius;
        border-top-right-radius: $border-radius;
        -webkit-border-bottom-right-radius: $border-radius;
        -moz-border-radius-bottomright: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
