// Place all the styles related to the offerings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.mappings {
  td.outcome input { width: 1.5em; }

  tbody input { margin: .5em; }

  button.add-content,
  a#add-mapping { margin: .5em; }

  a.btn[class*=delete] { margin: 0 .5em; }

  tr.cloneable { display: none; }

  tr.destroyed {
    td, th {
      opacity: 0.5;
    }
  }

  tr#content-footer td {
    border-top: 1px solid #eee;
  }
  tr.draggable th {
    padding-left: 18px;
    background-image: url(vertical_drag_arrows.png);
    background-repeat: no-repeat;
    background-position: 8px 13px;
  }
}

form.edit-offering textarea {
}
.offering-details-view {
  margin-bottom: 1em;
}

form.offering-assessment {
  textarea {
    height: 5.5em;
    width: 40em;
  }
}

#search_explanation {
  font-size: 11px;
}

#offering-index {
  td.actions, th.actions {
    width: 70px
  }
}

.pagination .current, .pagination .gap {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}

table.offering {
  width: 100%;
  td, th {
  padding: 3px;
  }

  th.row-objective {
    text-align: left;
    vertical-align: middle;
    width: 600px;
  }

  th.col-outcome, td.col-outcome {
    width: 20px;
    vertical-align: middle;
    text-align: center;
    padding: 1px;
  }

  td.row-content {
    padding-right:10px;
    text-align: right;
    width: 300px;
  }

  th.row-content-title {
    text-align: left;
    width: 300px;
  }
}

div.edit-button {
  float: right;

  a:visited {
  color: #FFFFFF;
  }

  a:hover {
  color: gray;
  }
}

.controls input[type='radio'].inline {
  margin-bottom: 6px;
}

div#help_right{
  float: right;
}

input[name*=_destroy] {
  display: none;
}

.incorrectContentRowTotal {
  background-color: #FFE3E3;
}

#offering-nav {
  li {
    position: relative;
    &:after {
      content: "\00a0";
      border-radius: 10px 10px 0 0;
      -moz-border-radius: 10px 10px 0 0;
      -webkit-border-radius: 10px 10px 0 0;
      background: none;
      width: 10px;
      height: 6px;
      position: absolute;
      left: 50%;
      margin-left: -5px;
      top: 27px;
    }
    &.active:after {
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      height: 10px;
    }
    &.red:after {
      background: #DA4F49;
    }
    &.green:after {
      background: #5BB75B;
    }
    &.yellow:after {
      background: #FAA732;
    }
  }
}

#offering-summary {
  h2 {
    margin-left: -1em;
  }

  .summary {
    .title {
      position: relative;
      .middle {
        position: absolute;
        top: 50%;
        margin-top: -1em;
      }
    }
  }

  .summary {
    &.content {
      .title { height: 3em; }
      ul {
        width: 100%;
      }
      li {
        text-align: center;
        font-weight: bold;
      }
    }
    &.objectives {
      .title { height: 9em; }
    }
  }
}
