// Place all the styles related to the offerings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.mappings {
  td.outcome input { width: 1.5em; }

  tbody input { margin: .5em; }

  button#add-content { margin: .5em; }

  .delete-content { margin-right: .5em; }

  tr.cloneable { display: none; }

  tr.destroyed {
    td, th {
      opacity: 0.5;
    }
  }

  tr#content-footer td {
    border-top: 1px solid #eee;
  }
}

form.edit-offering textarea {
  height: 8em;
}
.offering-details-view {
  margin-bottom: 1em;
}

form.offering-assessment {
  textarea {
    height: 5.5em;
    width: 40em;
  }
}
