<ul class="nav pull-right">
<% if current_user.nil? %>
  <li class="login <%= active_section? :login %>">
    <%= link_to "Sign In", login_path %>
  </li>
<% else %>
  <li class="dropdown <%= active_section? :profile %>">
    <a class="dropdown-toggle" data-toggle="dropdown" href="">
      <%= current_user.name %>
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="/profile">Profile</a></li>
      <li class="divider"></li>
      <li><a href="/logout">Sign Out</a></li>
    </ul>
  </li>
<% end %>
</ul>

